<!--
CREATOR: Kaleb Bachert
CREATED: 2020/3/13
APPROVER: Lane Sandburg
View for selecting a Type of request to submit, the Create View will appear within this View
-->
@using DataTransferObjects

<h2>@ViewBag.Title</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="col-md-10">

    <br />

    @if (null != @ViewBag.outputMessage)
    {
        if (@ViewBag.outputMessage.Contains("SUCCESS"))
        {
            <h3 class="alert-success">@ViewBag.outputMessage</h3>
        }
        else
        {
            <h3 class="alert-danger">@ViewBag.outputMessage</h3>
        }
    }

    <label>
        Select a Request Type
        <select class="requestTypesDropDown">
            <option value=""></option>
            <option value="Time Off">Time Off</option>
            <option value="Availability Change">Availability Change</option>
            <option value="Schedule Change">Schedule Change</option>
        </select>
    </label>

    @{PetUniverseUser currentUser = new PetUniverseUser { PUUserID = 100001, FirstName = "Steven" };}
    @{string defaultDateSelection = DateTime.Now.AddDays(1).ToShortDateString();}

    <div class="col-md-10 timeOffHideableViewDiv">

        @{ Html.RenderAction("Create", "RequestTimeOff", currentUser); }

    </div>
    <div class="col-md-10 availabilityHideableViewDiv">

        @{ Html.RenderAction("Create", "RequestAvailabilityChange", currentUser); }

    </div>
    <div class="col-md-10 scheduleChangeHideableViewDiv">

        @{ Html.RenderAction("Create", "RequestScheduleChange", new { userID = currentUser.PUUserID, selectedDate = defaultDateSelection }); }

    </div>
</div>